.dialog {
  height: 100px;
  width: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 30px;
  position: absolute;
  flex: 0.8;
}
