.inputOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}

.inputOption:hover {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
}

.inputOption > h4 {
  margin-left: 5px;
}
