.post {
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
  position: relative;
}

.post__header {
  display: flex;
  align-items: center;
}

.post__info {
  margin-left: 10px;
}

.post__info > h2 {
  font-size: 16px;
  font-weight: 600;
}

.post__info > p {
  font-size: 11px;
}

.post__body {
  margin: 10px;
  overflow-wrap: anywhere;
}

.post__body > .custom__popup {
  height: 150px;
  width: 150px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.post__buttons {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgray;
}
